<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Init css-->
    <link href="css/style.css" rel="stylesheet" />
    <!-- Init of google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <!-- Icons font awesome --> 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- Linking the user login page -->
    <link  href="login.html" rel="loginsheet"/>
    <title>SecurAccount</title>
</head>

<body>
    <!-- Bootstrap navagation bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapase" data-tager="#navbar-colapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" id="navbar-brand"><img src="./img/logo/SmallLogo.png" style="width: 95px;margin-left: -422px;"></a>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <div class="collapase navbar-collapase" id="navbar-collapase">
                <a href="/login" class="btn btw-warning navbar-btn navbar-right">Login or Sign up</a>
                <ul class="nav navbar-nav">
                    <li><a href="/#about">About</a>
                        <li><a href="/#services">Our Services</a>
                            <li><a href="/#contact">Contact us</a>
                </ul>
            </div>
        </div>
        </div>
    </nav>
    {{{body}}}

    <!-- Footer starts here -->
   <footer id="contact" class="footer-distributed">

            <div class="footer-left">

                <a href="#" id="footer-brand"><img src="./img/logo/SmallLogo.png" style="width: 200x; height: 200px;"></a>

                <p class="footer-links">
                    <a href="#">Home</a>
                    ·
                    <a href="#">Our service</a>
                    ·
                    <a href="#">About</a>
                    ·
                    <a href="#">Contact</a>
                </p>

                <p class="footer-company-name">SecurAccount &copy; 2017</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>2741 NE 8th avenue</span> Fort Lauderdale, Florida</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>+1 555 123456</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@company.com">support@securaccount.com</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>About</span>
                    SecurAccount is an innovative group of young developers with a strong focus on database development that brings practical solutions to promote credit card information storage, efficiency and prosperity of industrial and non-industrial partners with a real application in practice.
                </p>

                <div class="footer-icons">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>

            </div>

        </footer>



        
        <!-- CDN for Parallax -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://rawgit.com/pixelcog/parallax.js/master/parallax.js"></script>
</body>

</html>
