<link href="/css/index.css" rel="stylesheet" />
<!--Parallax starts here -->
    <div class="parallax-window" data-parallax="scroll" data-bleed="10" data-image-src="./img/demo/background.jpg" data-natural-width="1400"
    data-natural-height="900" style="height: 955px;background-size: cover;">
        <div class="container">
        <!-- LOGO IMAGE -->
        <img src="./img/logo/logobriant.png" id="logo-top" width="900px" height="500px">
        </div>
    </div>
        
    <!-- Content Box-1 -->
    <section id="about" class="module content">
        <div class="container">
            <h2>About</h2>
            <p>SecurAccount is an innovative group of young developers with a strong focus on database development that brings practical solutions to promote credit card information storage, efficiency and prosperity of industrial and non-industrial partners with a real application in practice. Provides solutions in the following areas: credit card loss, credit card payments and processing, process innovation, industrial automation, material innovation. The ambition of our database is to provide comprehensive services throughout our costumers lifecycle - from credit card solutions, storage of payment information, tracking of payments, simulation verification of system, support for the implementation of cyber security and continuous improvement. </p>
        </div>
    </section>
    <!-- Background image #2-->
    <div class="parallax-window" data-parallax="scroll" data-bleed="10" data-image-src="./img/demo/data.jpg" data-natural-width="1400" data-natural-height="900" style="height: 500px;background-size: cover;">
        <!-- Text over img #2 -->
        <!--div class="container">
            <h1>Our Services</h1>
        </div-->
    </div>
    <!-- Content Box-2 -->
    <section id="services" class="module content">
        <div class="container">
            <h2>Why should you choose our service?</h2>
            <p>As a costumer, you want easy, efficient, reliable and secure disaster recovery (DR), no matter the platform or location. SecurAccount is one of the only DR solutions providers with a 20-year track record of proven performance. With broad platform compatibility, support for both physical and virtual deployments and highly customizable retention settings, it’s the smartest choice for protecting your critical business or personal data.</p>
        </div>
    </section>
    <!-- Background img #3 -->
    <div class="parallax-window" data-parallax="scroll" data-bleed="10" data-image-src="./img/demo/security.jpg" data-natural-width="1400"
    data-natural-height="900" style="height: 500px;background-size: cover;">
    <!-- Text over img #3 -->
        <!--div class="container">
            <h1>colour</h1>
        </div-->
    </div>
    <!-- Content Box-3 -->
    <section class="module content">
        <div class="container">
            <h2>Security Services</h2>
            <p>Built to address your security needs and offer you the highest standard of protection with a Service Level Agreement customized to your needs and business requirements. Our security specialist team will constantly monitor your critical assets, and will empower and work in partnership with your team to improve your overall security awareness and posture.</p>
        </div>
    </section>
    <!-- Backgroung img #4 -->
    <div class="parallax-window" data-parallax="scroll" data-bleed="10" data-image-src="./img/demo/background.jpg" data-natural-width="1400"
    data-natural-height="900" style="height: 500px;background-size: cover;">
        <!-- Text over img #4 -->
        <!--div class="container">
            <h1>colour</h1>
        </div-->
    </div>
    <!-- Content Box-4 -->
    <section class="module content">
        <div class="container">
            <img src="./img/demo/added.jpg" id="service-photo" alt="service photo">
        </div>
    </section>
    <!-- Parallax end here -->  